input {
    display: inline-block;
    margin-bottom: 0.5em;
    width: 13em;
    vertical-align: middle;
}

label {
    display: inline-block;
    width: 7em;
    vertical-align: top;
    text-align: left;
}

h4 {
    margin-bottom: 0.25em;
}